@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
}

::placeholder {
    color: #999;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.header,
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header h1,
.footer h1 {
    margin-bottom: 10px;
}

.m {
    margin: 20px 0;
}

.blur {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.highlight {
    color: goldenrod;
}

.container {
    padding: 20px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    text-align: center;
    margin-bottom: 20px;
}

.container a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 14px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.container a:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

